body {
    background-color: rgb(91, 83, 202);
    color: rgb(189, 250, 250);
    text-align: center;
    font-family: sans-serif;
}

p {
    color: rgb(189, 250, 250);
}

ul {
    list-style-type: none;
    padding-left: 0;
   }

#login-form label {
    display: block;
}

#content #login-form {
    padding-bottom: 10px;
}

.army {
    border-width: 2px;
    border-color: rgb(6, 167, 241);
    border-style: solid;
    margin-bottom: 8px;
}

.fight-button {
    width: 25%;
    display: block;
    background-color: crimson;
    color: white;
    padding: 8px;
    font-size: 22px;
    -webkit-appearance: none;
    appearance: none;
    margin: 0 auto 16px auto;
    border: 0;
}